body {

	background-color: #0066cc;

}



h1{

	background-color: ;

	color: white;

	display:inline;

	clear: both;

	padding: 10px;

	margin-bottom: 20px;

	border: solid 1px #000000;

}




#instructions {

	background-color: white;

	width: 50%;

	clear:both;

	padding: 15px;

	margin-top: 20px;

	border: solid 1px #000000

}



#guessingNumber {

	background-color: green;

	float: left;

	display: inline-block;

	padding: 10px;

	margin-top: 20px;

	border: solid 1px #000000

}



#scoreboard {

	background-color: #03A9F4;

	display: inline-block;

	padding: 15px 20px 10px 15px;

	margin-top: 20px;

	margin-left: 20px;

	border: solid 1px #000000



}



#crystals {

	margin-top: 15px;

	margin-bottom:26px;



}






#totalScore {

	margin-bottom: 50px;

}



#yourTotalScore {

	background: #009688;

	display: inline;

	padding: 20px;

	border: solid 1px #000000

}